/* style for form fields and buttong on contact me page.*/

.btn-primary, .mb-3 { 
      margin-left: 50px;
      margin-right: 25px;
      margin-top: 25px;
      margin-bottom: 25px;
    } 

/* style for card image*/

.card .img-fit {
    aspect-ratio: 16/9;
    object-fit: cover;
}

/*makes height of cards the same*/
.card {
    height: 100%;
}

/*makes images responsive*/
@media (max-width: 767.98px) {
    .card .img-fit {
        aspect-ratio: 1.45/1;
    }
}